{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

  <div style = "text-align: center; max-width: 500px; margin: 4rem auto;">
    {% comment %} accountapp_crate로 연결해라  {% endcomment %}

    <div class="mb-4">
      <h4>Signup</h4> </div>
    <form action="{% url 'accountapp:create' %}" method = "post">
      {% csrf_token %}
      {% comment %} 장고에서 제공하는 기본 폼 사용  {% endcomment %}
      {% bootstrap_form form%}
      <input type="submit" class = "btn btn-primary">
    </form>
  </div>

{% endblock content %}