{% extends 'base.html' %}
{% comment %} my_page {% endcomment %}
{% block content %}

  <div>
    <div style="text-align:center; max-width: 588px; margin: 4rem auto;">

      <p>
        {% comment %} 가입한 시간 정보 {% endcomment %}
        {{ target_user.date_joined }}
      </p>

      {% if traget_user.profile %}
      <h2>
        {% comment %} user 이름  {% endcomment %}
        {{ target_user.profile.nickname }}
      </h2>
      {% else %}
      <a href="{% url 'profileapp:create' %}">
        <h2>
          Create Profile
        </h2>
      </a>
      {% endif %}
      {% comment %} 수정페이지 {% endcomment %}
      {% comment %} target_user가 지금 유저와 같다면  {% endcomment %}
      {% if target_user == user %}
      {% comment %} user 정보수정이 가능한 정보 수정 페이지를 표시  {% endcomment %}
      <a href="{% url 'accountapp:update' pk=user.pk %}">
        <p>
          Change Info
        </p>
      </a>
      <a href="{% url 'accountapp:delete' pk=user.pk %}">
        <p>Quit</p>
      </a>
      {% endif %}
    </div>
  </div>
{% endblock content %}