{% extends 'base.html' %}
{% comment %} my_page {% endcomment %}
{% block content %}

  <div>
    <div style="text-align:center; max-width: 588px; margin: 4rem auto;">

      <p>
        {% comment %} 가입한 시간 정보 {% endcomment %}
        {{ target_user.date_joined }}
      </p>

      <img src="{{ target_user.profile.image.url }}" alt="" style="height: 8rem; width 8rem; border-radius:20rem; margin-bottom:2rem" > 
      
      
      {% if target_user.profile %}
      <h2>
        {% comment %} user 이름  {% endcomment %}
        {{ target_user.profile.nickname }}

        {% if target_user == user %}
        <a class="material-icons" style="box-shadow: 0 0 3px #ccc border-radius: 10rem; padding: 0.4rem;;" href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
          edit
        </a>
        {% endif %}
      </h2>
      {% else %}
        {% if target_user == user %}
          <a href="{% url 'profileapp:create' %}">
            <h2>
              Create Profile
            </h2>
          </a>
          {% else %}
          <h2>
            닉네임 미설정 유저입니다.
          </h2>
        {% endif %}
      {% endif %}
      <hr>
      <h4 style="margin-bottom: 3rem">
        {{target_user.profile.message}}
      </h4>
      {% comment %} 수정페이지 {% endcomment %}
      {% comment %} target_user가 지금 유저와 같다면  {% endcomment %}
      {% if target_user == user %}
      {% comment %} user 정보수정이 가능한 정보 수정 페이지를 표시  {% endcomment %}
      <a class="material-icons" style="box-shadow: 0 0 3px #ccc border-radius: 10rem; padding: 0.4rem; color:skyblue;" href="{% url 'accountapp:update' pk=user.pk %}">
        <p>
          settings
        </p>
      </a>
      <a  class="material-icons" style="box-shadow: 0 0 3px #ccc border-radius: 10rem; padding: 0.4rem; color:red;" href="{% url 'accountapp:delete' pk=user.pk %}">
        <p>cancel</p>
      </a>
      {% endif %}
    </div>
  </div>

  <div>

    {% include 'snippets/list_pragment.html' with article_list=object_list %}
  </div>
{% endblock content %}