{% extends 'base.html' %}



{% comment %} 이제 content 안에 내용을 입력해주면 base.html에서 content 내용에 따라 다른 페이지가 렌더링된다.  {% endcomment %}
{% block content %}
  <style>
    {% comment %} embeded방식 {% endcomment %}
    {% comment %} 1rem은 16px {% endcomment %}
    .testing{
      background-color: white;
      height: 3rem;
      width: 3rem;
      margin : 1rem;
    }
  </style>
  <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem; ">
    
    <h1>
      testing
    </h1>
    {% comment %} 서버에 보내는 요청 명세서 {% endcomment %}
    <form action="/account/hello_world/" method = "post">
      {% comment %} post를 보낼때는 꼭 csrf토큰을 보내야함  {% endcomment %}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value = "POST">
    </form>

    <h1>{{text}}</h1>
  </div>
{% endblock content %}