{% extends 'base.html' %}



{% comment %} 이제 content 안에 내용을 입력해주면 base.html에서 content 내용에 따라 다른 페이지가 렌더링된다.  {% endcomment %}
{% block content %}
  <style>
    {% comment %} embeded방식 {% endcomment %}
    {% comment %} 1rem은 16px {% endcomment %}
    .testing{
      background-color: white;
      height: 3rem;
      width: 3rem;
      margin : 1rem;
    }
  </style>
  <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem; ">
    
    <h1>
      testing
    </h1>
    <div class="testing" style="display: block;">block</div>
    <div class="testing" style="display: inline;">inline</div>
    <div class="testing" style="display: None;">None</div>
    <div class="testing" style="display :inline-block">inline-block</div>
    <div class="testing" >default</div>
  </div>
{% endblock content %}