{% comment %} 전체적으로 가운데로 위치시키고 적당한 마진을 줌  {% endcomment %}
{% comment %} 마진에 값을 두개 넣어주면 앞에는 상하, 뒤에는 좌우 {% endcomment %}
<div class = "pragmatic_header">
  <div >
    <h1 class = "pragmatic_logo">PRagmatic</h1>
  </div>
  <div>
    <span>nav1</span>
    <span>nav2</span>
    <span>nav3</span>
    {% comment %} user가 로그인이 되어있지 않다면 로그인을 보여줘라 {% endcomment %}
    {% if not user.is_authenticated %}
    {% comment %} next 인자를 사용해서 우리가 만든 페이지 어디선가 next라는 인자를 넘겨줘서 
    원래 있던 자리로 돌아올 수 있다. {% endcomment %}
    <a href="{% url 'accountapp:login' %}?next={{request.path}}">
      <span>login</span>
    </a>
    {% comment %} 아니라면 로그아웃을 보여줘라 {% endcomment %}
    {% else %}
    <a href="{% url 'accountapp:logout' %}?next={{request.path}}">
      <span>logout</span>
    </a>
    {% endif %}
  </div>
</div>